extends /layout
  
block content
  if (message)
    h4.error=message
  ul
    li
      a(href="/profile") visit user profile
    li
      a(href="/") go to the Todo App
    li
      a(href="/specs") tests the rest api
