doctype html
html
  head
    link(rel='stylesheet', href='/css/vendor/todomvc-common.css')
    block title
      title=title
  body           
    block header
      header 
        h1=title
    
    block content